Repository its-just-ui/its-just-mcp, changes with the labels that .github/labeler.yml gives for each.
All labels: area:docs, area:codegen, area:registry, area:infra, area:tests

.github/labeler.yml:

area:docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

area:codegen:
  - changed-files:
      - any-glob-to-any-file: ['src/tools/**']

area:registry:
  - changed-files:
      - any-glob-to-any-file: ['src/components/**']

area:infra:
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tsconfig.json', 'package.json', 'jest.config.js']

area:tests:
  - changed-files:
      - any-glob-to-any-file: ['src/__tests__/**', '**/*.test.*']

type:bug:
  - head-branch: ['fix/*', 'bugfix/*', 'hotfix/*']

type:feature:
  - head-branch: ['feat/*', 'feature/*']

type:chore:
  - head-branch: ['chore/*', 'ci/*', 'docs/*', 'refactor/*']

chore: track lockfile; enable npm ci in CI
  .gitignore
  package-lock.json
Labels: none

test: fix sanitizeHtml and integrate prop sanitization in generator
  src/tools/componentGenerator.ts
  src/utils/validation.ts
Labels: area:codegen

chore: unignore root JS configs; add ESLint flat config
  .gitignore
  eslint.config.js
Labels: none

chore: rename package to unscoped 'its-just-mcp'; update badges and usage
  README.md
  jest.config.js
  package.json
  test-server.js
Labels: area:docs, area:infra

ci: sync workflows with just-ui (auto version/publish, PR checks, PR labels)
  .github/workflows/pr-checks.yml
  .github/workflows/pr-labels.yml
  .github/workflows/publish-on-main.yml
  .github/workflows/publish.yml
Labels: area:infra

chore: release v1.0.1 [skip ci]
  package-lock.json
  package.json
  src/__tests__/componentGenerator.test.ts
  src/__tests__/validation.test.ts
  src/components/registry.ts
  src/index.ts
  src/tools/componentGenerator.ts
  src/tools/documentationTools.ts
  src/tools/themeManager.ts
  src/tools/utilityTools.ts
  src/utils/validation.ts
Labels: area:codegen, area:registry, area:infra, area:tests

ci: restrict workflows to main branch; remove develop/master triggers
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-labels.yml
  .github/workflows/publish.yml
  .github/workflows/semantic-pr.yml
Labels: area:infra

chore: release v1.0.2 [skip ci]
  package-lock.json
  package.json
Labels: area:infra

ci: remove postversion auto-push to avoid non-fast-forward failures in CI
  package.json
Labels: area:infra

chore: release v1.0.3 [skip ci]
  package-lock.json
  package.json
Labels: area:infra

fix: readme
  README.md
Labels: area:docs

chore: release v1.0.4 [skip ci]
  package-lock.json
  package.json
Labels: area:infra

fix: read me
  README.md
Labels: area:docs

chore: release v1.0.5 [skip ci]
  package-lock.json
  package.json
Labels: area:infra

chore: removed docker job from gh actions
  .github/workflows/ci.yml
Labels: area:infra

chore: release v1.0.6 [skip ci]
  package-lock.json
  package.json
Labels: area:infra

fix: minor gh change
  .github/workflows/publish-on-main.yml
Labels: area:infra

fix: workflows
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Labels: area:infra

chore: release v1.1.0 [skip ci]
  package-lock.json
  package.json
Labels: area:infra
